html{
    height: 100vh;
    width: 100vw;
    background: lightblue;
}

.carousel-caption{

    width: 100%;
    height: 100%;
}
.carousel-caption h3{
    padding-top: 10vh;
    text-align: left;
}
.carousel-caption p{
    text-align: left;
}


.carousel-item img{
    height: 100vh;
}
