body {
    background-color: lightblue !important;
  }
  
   .introduction {
    text-align:center;
    width: 50%;
    background-color: lightblue;
}
  img {
    height: 200px;
  }
  
  h1 {
    margin-top: 10px;
    text-align: center;
    color: white;
  }
  
  .card {
    padding: 5px;
  }
  