body {
  background-color: grey !important;
}

img {
  height: 200px;
}

h1 {
  margin-top: 10px;
  text-align: center;
  color: white;
}

.card {
  padding: 5px;
}

.sort_button {
  padding: 5px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.sort {
  text-align: center;
  margin: 5px;
  margin-top: 10px;
}
body {
  background-color: grey !important;
}

img {
  height: 200px;
}

h1 {
  margin-top: 10px;
  text-align: center;
  color: white;
}

.card {
  padding: 5px;
}

.sort_button {
  padding: 5px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.sort {
  text-align: center;
  margin: 5px;
  margin-top: 10px;
}

.sectionTitle {
  margin-left: 50px;
  color: white;
}
