<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Robert Martinez, Nick Martinez, Patricia Cabanilla, Maxwell Adu-Gyamfi, Thaddeus Dai, Varun Meduri">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/images/travel_icon.png">
    <link rel="stylesheet" href="../static/css/aboutus.css">

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />



    <title>About Us</title>
  </head>
  <header>
      {% include './navbar.html' %}
      
  </header>

  <body>
    <div>
        <h1 style="padding-top: 70px;"><strong>About Us</strong></h1>
        <div class="container">
          <p class="text-white">We are a group of students currently attending the University of Texas at Austin. Feel free to read our biographies below to get to know a little bit about the team of people who put this website together.
          </p>
          <a href = "unittests"> <img src = "../static/images/unittests.png"> </a>
      </div>
    </div> 
        
    
    <div class="row" style="justify-content: center;">
        {% for person in persons %}
        <div class="card m-3" style="width: 18rem; padding-top: 15px;">
            <img class="card-img-top" style="height: 50vh; object-fit: cover; border-top-left-radius: 25px 20px; border-top-right-radius: 25px 20px; border-bottom-left-radius: 25px 20px; border-bottom-right-radius: 25px 20px;     border:2px solid grey;" src="{{ url_for('static', filename=person.img) }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{person.name}}</h5>
             <ul class="card-text"> 
                <li>Bio: {{person.bio}}</li>
                <li>Responsibilities: {{person.responsibilities}}</li>
                <li>No. of commits: {{person.commits}}</li>
                <li>No. of Issues: {{person.issues}}</li>
                <li>No. of Unit Tests: {{person.unittests}}</li>

                <li>Tools Used: {{person.tools}}</li>

            </ul>
            </div>
          </div>
          {% endfor %}
        </div>
        

    </div>
    <div class="row" style="justify-content: center;">
        <p>Link to SpeakerDeck: <a href="https://speakerdeck.com/robdmart/turisme"> link </a> </p>
        <h4>API's we used</h4>
        <p> <a href="http://geodb-cities-api.wirefreethought.com/"> GeoDB Cities: </a> This API provided us city and country information.</p>
        <p> <a href="https://developers.amadeus.com/self-service/category/destination-content/api-doc/points-of-interest">Amadeus API:</a> This API provided us with Points of Interest that were used in the 
        attractions section of our website. It is not entirely free so we were only able to get attractions for the cities of Barcelona and Paris.</p>
        
    </div>


    <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
          crossorigin="anonymous"
        ></script>

  </body>


</html>