<!DOCTYPE html>
<html lang="en">
  

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link rel="shortcut icon" href="../static/images/travel_icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/attractions.css') }}"> 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <title>Travel</title>
  </head> 


  {% include './navbar.html' %}

  <body>
      <h1 style="padding-top: 70px;"><strong>Attractions</strong></h1>
      <div class="sort">
        <a class="sort_button" href="{{url_for('view_attractions', sort_param='name', page = 1)}}">Sort by name</a>
        <a class="sort_button" href="{{url_for('view_attractions', sort_param='longitude', page = 1)}}">Sort by longitude</a>
        <a class="sort_button" href="{{url_for('view_attractions', sort_param='latitude', page = 1)}}">Sort by latitude</a>
        <a class="sort_button" href="{{url_for('view_attractions', sort_param='category', page = 1)}}">Sort by type</a>
        <a class="sort_button" href="{{url_for('view_attractions', sort_param='city_name', page = 1)}}">Sort by city</a>
      </div>
    <div class="row" style="justify-content: center;">
    {% for attraction in attractions %}
    <div class="card m-3" style="width: 18rem;">
      <!-- <img src="{{attraction.img}}" alt="{{attraction.attraction_name}}"> -->
        <div class="card-body">
          <h5 class="card-title">{{attraction.attraction_name}}</h5>
         <ul class="card-text"> 
            <li>City: {{attraction.city_name}}</li>
            <li>Latitude: {{attraction.latitude}}</li>
            <li>Longitude: {{attraction.longitude}}</li>
            <li>Type: {{attraction.category}}</li>
        </ul>
         
        </div>
      </div>
      {% endfor %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
   <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="/attractions/name/1/">1</a></li>
    <li class="page-item"><a class="page-link" href="/attractions/name/2/">2</a></li>
    <li class="page-item"><a class="page-link" href="/attractions/name/3/">3</a></li>
  </ul>
</nav>
</html>
