<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Robert Martinez, Nick Martinez, Patricia Cabanilla, Maxwell Adu-Gyamfi, Thaddeus Dai, Varun Meduri">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/_splash.css">
    
    <link rel="shortcut icon" href="../static/images/travel_icon.png">

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <script defer>
      window.alert("Due to prices constraints with our primary API, we only have attractions for Barcelona and Paris.")

    </script>

    <title>Turisme</title>



  </head>
  <header>
      {% include './navbar.html' %}
      
  </header>

  <body>
      <div class="container-fullwidth">
        {% block body %} {% endblock %}
      </div>
  </body>


</html>