<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


    <div class="clearfix container-fluid">  

      <div class="row">

        <div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <!-- carousel indicators -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>

          <!-- inner carousel items -->

          <div class="carousel-inner">

            <!-- image for each slide -->
            <div class="carousel-item active" data-bs-interval="10000">
              <img class="img-fluid d-block w-100" src="../static/images/splash1.jpg" alt="Pack your bags">
              <!-- caption -->
              <div class="carousel-caption">
                <h3>Pack Your Bags!</h3>
                <p>
                  Search for a Country, City, or Attraction to visit<br>
                  <!-- <a href=" {{url_for('view_search')}}  " class="btn btn-lg btn-outline-dark active" role="button" aria-pressed="true">Search All</a> -->
                </p>
              </div>
            </div>

              <!-- image for each slide -->
              <div class="carousel-item" data-bs-interval="5000">
                <img class="img-fluid d-block w-100" src="../static/images/splash2.jpg" alt="Get ready to fly">
                <!-- caption -->
                <div class="carousel-caption">
                  <h3>So many beautiful countries to visit</h3>
                  <p>
                    Try looking up a country<br><a href=" {{url_for('view_countries', sort_param='name', page=1)}} " class="btn btn-lg btn-outline-dark active" role="button" aria-pressed="true">Search Countries</a>
                  </p>
                </div>
              </div>

              <!-- image for each slide -->
              <div class="carousel-item" data-bs-interval="5000">
                <img class="img-fluid d-block w-100" src="../static/images/splash3.jpg" alt="Plan your trip">
                <!-- caption -->
                <div class="carousel-caption">
                  <h3>Every city is a unique experience</h3>
                  <p>
                    Check out a cool city<br><a href=" {{url_for('view_cities', sort_param='name',page=1)}} " class="btn btn-lg btn-outline-dark active" role="button" aria-pressed="true">Search Cities</a>
                  </p>
                </div>
              </div>

              <!-- image for each slide -->
              <div class="carousel-item " data-bs-interval="5000">
                <img class="img-fluid d-block w-100" src="../static/images/splash4.jpg" alt="Let's go">
                <!-- caption -->
                <div class="carousel-caption">
                  <h3>Attractions are where the fun is at</h3>
                  <p>
                    See all the cool things you can do<br><a href="{{url_for('view_attractions', sort_param='name',page=1)}}" class="btn btn-lg btn-outline-dark active" role="button" aria-pressed="true">Search Attractions</a>
                  </p>
                </div>
              </div>

          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>


        </div>
      </div>

    </div>