<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../static/images/travel_icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <title>Travel</title>
  </head>

  <!-- <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Travel!</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-disabled="true"
                >Countries</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="{{url_for('view_cities', sort_param='name', page = 1)}}"
                tabindex="-1"
                aria-disabled="true"
                >Cities</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Attractions</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Search</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header> -->

  {% include './navbar.html' %}


  <body>
      <h1 style="padding-top: 70px;"><strong>Cities</strong></h1>
      <div class="sort">
        <a class="sort_button" href="{{url_for('view_cities', sort_param='city_name', page=1)}}">Sort by name</a>
        <a class="sort_button" href="{{url_for('view_cities', sort_param='country_name', page=1)}}">Sort by country</a>
        <a class="sort_button" href="{{url_for('view_cities', sort_param='longitude', page=1)}}">Sort by longitude</a>
        <a class="sort_button" href="{{url_for('view_cities', sort_param='latitude', page=1)}}">Sort by latitude</a>
        <a class="sort_button" href="{{url_for('view_cities', sort_param='region', page=1)}}">Sort by region</a>
        <a class="sort_button" href="{{url_for('view_cities', sort_param='country_code', page=1)}}">Sort by country code</a>
      </div>
    <div class="row" style="justify-content: center;">
    {% for city in cities %}
    <div class="card m-3" style="width: 18rem;">
<!-- ?\<img src="{{city.img}}" alt="{{city.city_name}}"> -->
        <div class="card-body">
          <h5 class="card-title">{{city.city_name}}</h5>
         <ul class="card-text"> 
            <li>Country: {{city.country_name}}</li>
            <li>Country Code: {{city.country_code}}</li>
            <li>Region: {{city.region}}</li>
            <li>Latitude: {{city.latitude}}</li>
            <li>Longitude: {{city.longitude}}</li>
        </ul>
          <a href="{{url_for('city_link', city=city.city_name )}}" class="btn btn-primary">Visit Attractions</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script> 
  </body>
   <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="/countries/name/1/">1</a></li>
    <li class="page-item"><a class="page-link" href="/countries/name/2/">2</a></li>
    <li class="page-item"><a class="page-link" href="/countries/name/3/">3</a></li>
  </ul>
</nav>
</html>
