<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../static/images/travel_icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/countries.css') }}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <title>Travel</title>
  </head>

  {% include './navbar.html' %}


  <body>
      <h1 style="padding-top: 70px;"><strong>Countries</strong></h1>
      <div class="sort">
        <a class="sort_button" href="{{url_for('view_countries', sort_param='country_name', page=1)}}">Sort by country</a>
        <a class="sort_button" href="{{url_for('view_countries', sort_param='currency', page=1)}}">Sort by currency</a>
        <a class="sort_button" href="{{url_for('view_countries', sort_param='wiki', page=1)}}">Sort by wikiID</a>
        <a class="sort_button" href="{{url_for('view_countries', sort_param='country_code', page=1)}}">Sort by country code</a>
      </div>
    <div class="row" style="justify-content: center;">
    {% for country in countries %}
    <div class="card m-3" style="width: 18rem;">
      <!-- <img src="{{country.img}}" alt="{{country.country_name}}"> -->
        <div class="card-body">
          <h5 class="card-title">{{country.country_name}}</h5>
          <div id="flag">
            <img
                src="https://flagcdn.com/120x90/{{country.country_code.lower()}}.png"
                srcset="https://flagcdn.com/240x180/{{country.country_code.lower()}}.png 2x"
                width="120"
                height="90"
                alt="{{country.country_code}} Flag">
          </div>
         <ul class="card-text">
          <li>Country Code: {{country.country_code}}</li>
          <li>Currency: {{country.currency}}</li>
          <li>WikiID: <a href={{country.wiki}}>{{country.wiki[31:]}}</a></li>
        </ul>
          <a href=" {{url_for('country_link', country=country.country_name ) }}" class="btn btn-primary">Find a City</a>
        </div>

      </div>
      {% endfor %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>

 <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="/countries/name/1/">1</a></li>
    <li class="page-item"><a class="page-link" href="/countries/name/2/">2</a></li>
    <li class="page-item"><a class="page-link" href="/countries/name/3/">3</a></li>
  </ul>
</nav>
  
</html>
