<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <title>Travel</title>
  </head>
  {% include './navbar.html' %}
<body>
    <h1 style="padding-top: 70px;"><strong><u>Cities in  {{country}} </u></strong></h1>
    <div class="row" style="justify-content: center;">
    {% for city in city_list %}
        <div class="card m-3" style="width: 18rem;">
            <!-- <img src="{{city.img}}" alt="{{city.city_name}}"> -->
            <div class="card-body">
              <h5 class="card-title">{{city.city_name}}</h5>
             <ul class="card-text"> 
                <li>Country: {{city.country_name}}</li>
                <li>Country Code: {{city.country_code}}</li>
                <li>Region: {{city.region}}</li>
                <li>Latitude: {{city.latitude}}</li>
                <li>Longitude: {{city.longitude}}</li>
            </ul>
                <a href=" {{url_for('city_link', city=city.name ) }}" class="btn btn-primary">View Attractions</a>
            </div>
        </div>
    {% endfor %}
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"
  ></script>
</body>

