<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../static/images/travel_icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <title>Travel</title>
  </head>
  {% include './navbar.html' %}

<body>
    <h1 style="padding-top: 70px;"><strong> {{country[0].name}} </a></strong></h1>
    <div class="row" style="justify-content: center;">
    {% for country in country %}
        <div class="card m-3" style="width: 18rem;">
          <div class="card m-3" style="width: 18rem;">
            <!-- <img src="{{country.img}}" alt="{{country.country_name}}"> -->
              <div class="card-body">
                <h5 class="card-title">{{country.country_name}}</h5>
               <ul class="card-text">
                <li>Country Code: {{country.country_code}}</li>
                <li>Currency: {{country.currency}}</li>
              </ul>
                <a href=" {{url_for('country_link', country=country.name ) }}" class="btn btn-primary">Find a City</a>
            </div>
        </div>
    {% endfor %}
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"
  ></script>
</body>
