<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href=" {{url_for('splash_page')}} ">Turisme</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=" {{url_for('splash_page')}} ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href=" {{url_for('view_countries', sort_param='name', page = 1)}} " tabindex='-1' aria-disabled="true">Countries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href=" {{url_for('view_cities', sort_param='name', page = 1)}} " tabindex="-1" aria-disabled="true">Cities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href=" {{url_for('view_attractions', sort_param='name', page = 1)}} " tabindex="-1" aria-disabled="true">Attractions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href=" {{url_for('view_search')}} " tabindex="-1" aria-disabled="true">Search</a>
          </li>

          <!-- Uncomment once we implement search feature -->
          <!-- <li class="nav-item">
            <a class="nav-link active" href=" {{url_for('view_search')}} " tabindex="-1" aria-disabled="true">Search</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('view_about')}} " tabindex="-1" aria-disabled="true">About</a>
          </li>

        </ul>
      </div>
    </div>
</nav>
