<!DOCTYPE html>
<html lang="en">
  

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"> 
    <link rel="shortcut icon" href="../static/images/travel_icon.png">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <title>Travel</title>
  </head> 
  {% include './navbar.html' %}
  <body>
    <form action="" style="text-align: center; padding-top: 70px;">
        <h1>Search countries, cities, or attractions!</h1>
        <input type="text" placeholder="Search ... " name="search">
        <button type="submit">Search</button>
    </form>  

  {% if countries|length > 0 %}
  <h3 class="sectionTitle"><u>Countries:</u> </h3> <br>
  <div class="row" style="margin-left: 50px;">
    {% for country in countries %}
      <div class="card m-3" style="width: 18rem;">
        <!-- <img src="{{country.img}}" alt="{{country.country_name}}"> -->
          <div class="card-body">
            <h5 class="card-title">{{country.country_name}}</h5>
           <ul class="card-text">
            <li>Country Code: {{country.country_code}}</li>
            <li>Currency: {{country.currency}}</li>
          </ul>
            <a href=" {{url_for('country_link', country=country.country_name ) }}" class="btn btn-primary">Find a City</a>
        </div>
    </div>
    {% endfor %} 
  </div>
  {% endif %}
  </div>

  {% if cities|length > 0 %}
    <h3 class="sectionTitle"><u>Cities:</u></h3> <br>
    <div class="row" style="margin-left: 50px;">
    {% for city in cities %}
    <div class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{city.city_name}}</h5>
       <ul class="card-text"> 
          <li>Country: {{city.country_name}}</li>
          <li>Country Code: {{city.country_code}}</li>
          <li>Region: {{city.region}}</li>
          <li>Latitude: {{city.latitude}}</li>
          <li>Longitude: {{city.longitude}}</li>
      </ul>
         <a href=" {{url_for('city_link', city=city.city_name ) }}" class="btn btn-primary">View Attractions</a>
      </div>
  </div>
    {% endfor %} 
  </div>
  {% endif %}

  {% if attractions|length > 0 %}
    <h3 class="sectionTitle"><u>Attractions: </u></h3> <br>
    <div class="row" style="margin-left: 50px;">
    {% for attraction in attractions %}
    <div class="card m-3" style="width: 18rem;">
      <!-- <img src="{{attraction.img}}" alt="{{attraction.attraction_name}}"> -->
        <div class="card-body">
          <h5 class="card-title">{{attraction.attraction_name}}</h5>
         <ul class="card-text"> 
            <li>City: {{attraction.city_name}}</li>
            <li>Latitude: {{attraction.latitude}}</li>
            <li>Longitude: {{attraction.longitude}}</li>
            <li>Type: {{attraction.category}}</li>
        </ul>
          <!-- <a href=" {{url_for('city', city=attraction.city) }} " class="btn btn-primary">  Go to City</a>
		  <br>
		  <br>
      <a href=" {{url_for('country', country=attraction.country) }} " class="btn btn-primary"> Go to Country </a>-->
        </div>
      </div>
    {% endfor %} 
   </div>
   {% endif %}
     

  </body>


</html>